/* :root{

} */

body{
    background-color: rgb(210, 156, 228);
    font-family: 'Merriweather', serif;
    color: linen;
    margin:0;
}

header {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.header-left{
    border: 1px solid yellow;
    width: 280px;
    display: flex;
    margin-left: 20px;
    align-items: center;
}

h3 {
    padding-left: 10px;
}

#header-img {
    height:50px;
}

.nav-link {
    color: linen;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

ul.header-right {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    border: 1px solid blue;
    margin-right: 20px;
}

li{
    display:inline-block;
}

#nav-bar li .nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 450;
    color: rgb(74, 11, 91);
    transition: 0.5s ease-in-out;
    
}

#nav-bar li .nav-link:hover {
    color: rgb(241, 206, 249);
}

.video-box {
    display: block;
    margin-left: auto;
    margin-right: 0 auto;
}
