/* :root{
} */

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;

    background-color: rgb(210, 156, 228);
    font-family: 'Merriweather', serif;
    color: linen;
}

.light {
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f5ec42, 0 0 40px #f5ec42, 0 0 50px #f5ec42;
}

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px rgb(231, 134, 8), 0 0 40px rgb(231, 134, 8), 0 0 50px rgb(74, 11, 91), 0 0 60px rgb(74, 11, 91);
}
}

#title{
    text-align: center;
    text-decoration: underline;
    background-color: rgb(177, 59, 201);
}

/*STARTS HEADER*/

header {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    background: linear-gradient(rgb(143, 30, 187),rgb(210, 156, 228)60%);
}

.header-left{
    width: 280px;
    display: flex;
    margin-left: 20px;
    align-items: center;
}

h3 {
    padding-left: 10px;
}

#header-img {
    height:50px;
}

.nav-link {
    color: linen;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

ul.header-right {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    margin-right: 20px;
}

li{
    display:inline-block;
}

#nav-bar li .nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 450;
    color: rgb(74, 11, 91);
    transition: 0.5s ease-in-out;
}

#nav-bar li .nav-link:hover {
    color: rgb(241, 206, 249);
}

#burger-menu{
    display: none;
}

/*STARTS ABOUT SECTION*/

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.about.intro {
    width: 160px;
    position: relative;
    left: 10%;
}

.about-text {
    width: 300px;
    text-align: justify;
    position: relative;
    left: 10%;
    margin-right: 120px;
}

#about > img {
    position: relative;
    right: -10%;
    height: 1rem!important;
}

/*STARTS PORTFOLIO SECTION*/

#portfolio {
    display: flex;
    justify-content: center;
}

.project {
    background-color: #e9c8fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin: 10px;
    border: 1px solid rgb(143, 30, 187);
    border-radius: 3px;
}

.project > img {
    width: 200px;
    height: auto;
}

.project > .title {
    background-color: rgb(143, 30, 187);;
    padding: 10px 0;
    bottom: 20px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.project > .btn {
    margin-bottom: 8px;
}

ol {
    padding-left: 15px;
}

ol > li {
    display: block;
    color: #444;
    font-size: 0.8rem;
    padding-bottom: 10px;
}

/*STARTS RECOMMENDED SECTION*/

.video-box {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/*STARTS CONTACT SECTION*/

#contact {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

form {
    background-color: rgb(143, 30, 187);
    padding: 2em;
    border-radius: 5% 5% 5% 5%;
}

input {
    display: block;
    margin-bottom: 0.8em;
}

textarea {
    display: block;
    padding: 5px 0 0 5px;
}

input::placeholder, textarea::placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#submit {
    margin-top: 10px!important;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    background-color: rgb(48, 49, 48);
    border-radius: 4px;
    border: none;
    color: linen;
}

#submit:hover {
    background-color: rgb(241, 206, 249);
    color: rgb(74, 11, 91);
}

/*STARTS FOOTER*/

footer {
    background-color: rgb(195, 131, 212);
    padding: 0.1rem 0.3rem 0.5rem 0;
}

footer > ul {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    margin-bottom: 5px;
}

footer > ul > li {
    padding: 0 10px;
}

a {
    color: rgb(74, 11, 91);
    text-decoration: none;
}

a:hover {
    color: linen;
}

footer > span {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    color: #444;
    padding: 0 10px;
}

/*STARTS MOBILE MEDIA QUERY*/

@media screen and (max-width:992px){
    .header-left h3{
        display: none;
    }

    .text-box {
        width: 20px;
        height: 20rem;
        text-align: justify;
        position: relative;
        top: 18rem;
        right: 1.5rem;
    }

    #about img{
        width: 15rem;
        position: relative;
        right: 0.5rem;
    }

    #about{
        height: 33rem;
    }

    #portfolio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    footer > span {
        display: flex;
        justify-content: center;
    }

    footer > ul {
        display: flex;
        justify-content: center;
        padding: 0 10px;
    }
}